*{
    margin: 15px;
    padding: 5px;
    box-sizing:border-box;
    align-items: center;
}
body{
    background:rgba(143, 69, 69, 0.87);
    
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: bisque;
    display: flex;
    flex-direction: column;

    
}

.botao{
    border: 1px solid;
    border-color: aliceblue;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 5px;
    color: bisque;
    cursor: pointer;     /* muda o cursor do mouse*/
    transition: 0.6s ease all;   /* efeito de transição,*/
    padding: 10px;
    text-decoration: none;
    background-color:rgba(87, 52, 52, 0.87) ;
}

.botao:hover{             /* cria um efeito que inverte as cores do botão*/
    background-color: bisque;
    color: black;}
.contorno{
    border:solid 3px; 
    display: flex; 
    flex-direction: column;
    padding-top: 15px; 
    justify-content: center;
    border-radius: 5px;
    background-color:rgba(7, 6, 6, 0.952) ;
    border-color: rgba(63, 51, 37, 0.541);
}

.letra{
    font-size: 16px;
    
}

h3{
    font-size: 24px;
    
}

h4{
    font-size: 32px;
}